python-dotenv
langchain
langgraph
langchain-mcp-adapters
langchain-openai
langgraph_supervisor
fastapi
uvicorn[standard]
pydantic
python-jose[cryptography]
python-multipart
slowapi
supabase
google-auth
httpx
psutil
